header {
  line-height: 1.5;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

nav {
  a.router-link-exact-active {
    color: $color-text;
  }

  a {
    display: inline-block;
    padding: 0 1rem;
    background-color: transparent;
    transition: background-color .2s ease-in-out;

    &:hover,
    &.router-link-exact-active {
      background-color: $color-background-soft;
    }
  }

  @media (max-width: 768px) {
    opacity: 0;
    height: 50vh;
    transition: height 100ms ease-in-out;
    transition-delay: 100ms;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 1rem);
    left: 0;
    right: 0;
    background-color: $color-background;
    border-top: 1px solid $color-border;
    user-select: none;
    pointer-events: none;

    &.active {
      height: calc(100vh - 190%);
      opacity: 1;
      pointer-events: all;
      user-select: all;
    }

    @media (max-width: 768px) {
      top: calc(100% + .5rem);

      &.active {
        height: calc(100vh - 150%);
      }
    }
  }
}

.burger-container {
  display: flex;
  display: none;

  .burger {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 16px;
    width: 22px;

    span {
      height: 3px;
      width: 100%;
      background-color: $color-text;
      transition: all 100ms ease-in-out;
      border-radius: 3px;
    }

    &.active span {
      &:nth-of-type(1) {
        transition: all 100ms ease-in-out;
        transform: rotate(45deg);
        transform-origin: top left;
        width: 20px;

      }

      &:nth-of-type(2) {
        transition: all 100ms ease-in-out;
        transform-origin: center;
        width: 0;
      }

      &:nth-of-type(3) {
        transition: all 100ms ease-in-out;
        transform: rotate(-45deg);
        transform-origin: bottom left;
        width: 20px;
      }
    }
  }

  @media (max-width: 768px) {
    display: flex;
  }
}